node_modules
npm-debug.log
Dockerfile
.dockerignore
.git
.gitignore
.env
.env.*
*.md
.vscode
coverage
test
tests
**/*.test.ts
**/*.spec.ts
**/*.test.js
**/*.spec.js
.npm
logs
*.log
dist
src/**/*.js
src/**/*.js.map
